@import "@/styles/colors.css";
@import "@/styles/animations.css";

@media only screen and (max-width: 425px) {
    html {
        font-family: Segoe, Segoe UI, Optima, Arial, sans-serif;

        background-color: var(--background1-color);
    }

    .post-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .post-page__social-network-title {
        position: fixed;
        z-index: 100;
        top: 0;
        margin: 0;

        padding: 8px;

        width: 100vw;

        font-size: 32px;
        text-shadow: 2px 2px 4px var(--background2-color);

        color: var(--primary-color);
        background-color: var(--secondary-color);

        text-align: center;
    }

    .post-card-container {
        margin-top: 60px;
        margin-bottom: 50px;

        display: flex;
        flex-direction: column;
        padding: 0 10px;
        row-gap: 10px;
    }

    .post-card-container__no-posts-message {
        color: var(--text1-color);
        font-weight: bold;
        text-align: center;
        background-color: var(--background1-lighter-color);
    }

    .post-card {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: var(--background1-lighter-color);
        padding: 10px;
        border-radius: 10px;
        color: var(--text1-color);
        font-size: 16px;
    }

    .short-profile-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .short-profile-card__img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .short-profile-card__username {
        font-size: 16px;
        margin-left: 10px;
    }

    .post-card__uploaded-photo {
        min-width: 200px;
        max-width: 400px;
        height: auto;
        background-color: var(--background1-lighter-lighter-color);
    }

    .post-card__caption {
        background-color: var(--background1-lighter-lighter-color);
        margin: 0;
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
    }

    .post-card__quantity-likes {
        margin: 0;
        padding: 5px;
    }

    .post-card__like-button {
        position: absolute;
        width: 30px;
        height: 30px;
        padding: 5px;
        margin: 0;
        bottom: 100px;
        right: 30px;
        background: none;
        border: none;
    }

    .post-card__heart-icon {
        padding: 0;
        margin: 0;
        font-size: 30px;
        color: var(--error-darker-color);
    }

    .post-card__quantity-comments {
        margin: 0;
        padding: 5px;
    }

    .post-card__created-at {
        margin: 0;
        padding: 5px;
    }

    .post-card__show-comment-section-button {
        width: 200px;
        height: 30px;

        border-radius: 10px;

        font-weight: bold;

        background-color: var(--primary-color);
        color: var(--text1-color);

        margin-top: 5px;
        align-self: center;
    }

    .post-card__show-comment-section-button:hover {
        background-color: var(--primary-darker-color);
        color: var(--white-friendly-darker-color);
    }

    .comment-section {
        animation: popup 0.7s;

        position: fixed;
        background: rgba(0, 0, 0, 0.5);

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: 100vw;
        height: 100vh;

        font-weight: bold;

        top: 0;
        left: 0;
        z-index: 100;

        color: var(--white-friendly-color);
    }

    .comment-section__hide-button {
        position: fixed;
        z-index: 200;
        top: 35px;
        left: 25px;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: var(--white-friendly-color);
    }

    .comment-section__hide-button:hover {
        background-color: var(--white-friendly-darker-color);
        color: rgb(57, 57, 57);
    }

    .comment-section__hide-icon {
        font-size: 20px;
    }

    .comment-section__title {
        font-size: 16px;
        text-align: center;

        background-color: var(--background2-color);
        color: var(--white-friendly-color);

        width: 95vw;
        height: 95vh;

        padding: 25px 0 0 0;
        border-radius: 10px;

        position: absolute;
    }

    .comment_section__container {
        z-index: 2000;
        max-height: 80vh;
        max-width: 95vw;
        margin: 75px 5px;
        overflow-y: scroll;
    }

    .comment-section__no-comments-message {
        color: var(--text1-color);
        font-weight: bold;
        text-align: center;
        background-color: var(--background1-lighter-color);
        margin: 20px;
    }

    .my-comment {
        background-color: var(--background1-color);
        padding: 10px;
        margin: 20px;
        border-radius: 10px;
    }

    .my-comment__content {
        background-color: var(--background1-lighter-color);
        padding: 3px;
    }

    .my-comment__created-at {}

    .my-comment__delete-button {
        background-color: var(--primary-color);
        color: var(--text1-color);
        font-weight: bold;
        padding: 5px;
        border-radius: 10px;
    }

    .my-comment__delete-button:hover {
        background-color: var(--primary-darker-color);
        color: var(--white-friendly-darker-color);
    }

    .other-user-comment {
        background-color: var(--primary-darker-color);
        padding: 10px;
        margin: 20px;
        border-radius: 10px;
        color: var(--text1-color);
    }

    .other-user-comment__content {
        background-color: var(--primary-color);
        padding: 3px;
    }

    .other-user-comment__created-at {}

    .comment-section-form {
        width: 90vw;
        z-index: 3000;
        position: fixed;
        bottom: 30px;
        background-color: var(--background2-color);
        padding: 5px;
    }

    .comment-section-form__input-container {
        width: 100%;
        font-weight: bold;
    }

    .comment-section-form__input {
        height: 30px;
        padding: 5px;
        width: 75%;
        border-radius: 10px;
        background-color: var(--white-friendly-color);
        color: var(--text1-color);
        font-weight: bold;
    }

    .comment-section-form__input-icon {
        margin-right: 5px;
    }

    .comment-section-form__ok-button {
        background-color: var(--secondary-color);
        color: var(--white-friendly-color);
        font-weight: bold;
        padding: 5px;
        border-radius: 10px;
    }

    .comment-section-form__ok-button:hover {
        background-color: var(--secondary-darker-color);
        color: var(--white-friendly-darker-color);
    }
}