@media only screen and (max-width: 425px) {
    .create-post-page {
        display: flex;
        flex-direction: column;
    }

    .create-post-page__title {
        align-self: center;
        text-align: center;
        margin-top: 30px;
        text-shadow: 2px 2px 4px #004856;
        color: #39bcd6;
    }

    .create-post-page__icon {
        filter: drop-shadow(2px 2px 4px #004856);
    }

    .create-post-form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: #f4967c;
        border-radius: 10px;
        margin: 8px;
        row-gap: 3cqh;
        color: #00333d;
    }

    .create-post-form__input-icon {
        position: absolute;
        padding: 30px 0 0 8px;
        font-size: 20px;
    }

    .create-post-form__input-container {
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }

    .create-post-form__input {
        margin-top: 6px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #ffe3d4;
    }

    .create-post-form__input--image {
        margin: 35px 0 0 0;
    }

    .create-post-form__input--caption {
        height: 35cqh;
        border-radius: 10px;
        padding: 30px 5px 5px 5px;
    }

    .create-post-form__upload-button {
        position: relative;
        width: 150px;
        height: 35px;
        border-radius: 10px;
        align-self: center;
        background-color: #eb5535;
        color: #ffe3d4;
        font-weight: bold;
    }

    .create-post-form__upload-button:hover {
        background-color: #a93920;
        color: #ccaa98;
    }

    .create-post-form__cancel-button {
        width: 150px;
        height: 35px;
        border-radius: 10px;
        font-weight: bold;
        background-color: #39bcd6;
        color: #00333d;
        align-self: center;
    }

    .create-post-form__cancel-button:hover {
        background-color: #22889c;
        color: #024957;
    }

    @keyframes popup {
        from {
            transform: scale(0)
        }

        80% {
            transform: scale(1.1)
        }

        to {
            transform: scale(1)
        }
    }

    .unsuccesful-upload-message {
        animation: popup 0.7s;

        position: fixed;
        background: rgba(0, 0, 0, 0.5);

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: 100vw;
        height: 100vh;

        font-weight: bold;
    }

    .unsuccesful-upload-message__text {
        font-size: 32px;
        text-align: center;

        background-color: #00333d;
        color: #ffe3d4;

        width: 90vw;
        height: 90vh;

        padding: 20cqh 0 0 0;
        border-radius: 10px;

        position: absolute;
    }

    .unsuccesful-upload-message__icon {
        font-size: 15cqh;

        position: absolute;

        top: 50cqh;

        color: #eb5535;
    }

    .unsuccesful-upload-message__hide-button {
        position: relative;

        width: 150px;
        height: 35px;

        margin-top: 10px;
        top: 30cqh;

        border-radius: 10px;

        background-color: #eb5535;
        color: #ffe3d4;

        font-weight: bold;
    }

    .unsuccesful-upload-message__hide-button:hover {
        background-color: #a93920;
        color: #ccaa98;
    }
}