
@media only screen and (max-width: 769px) {
     
    .short-profile-card__img {
        width: 17vb;
        height: auto;
        border-radius: 50%;
    }

    .profile-log-out-button {
        width: 120px;
        height: 60px;

        border-radius: 10px;

        font-weight: bold;

        background-color: #39bcd6;
        color: #00333d;

        align-self: center;
    }

    .instagram-profile {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
    }

    .instagram-image {
        width: 100%;
        height: auto;
        aspect-ratio: 1; 
        object-fit: cover; 
    }

    .profile-photo-container {
        display: flex; 
        align-items: center; 
        margin-top: 10px;

    }

    .profile-stats-container {
        display: flex;
        margin-left: 20px;
    }

    .profile-stat {
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-left: 20px; 
        gap: 4px; 
        margin-top: 5vh;

    }

    .stat-number {
        font-weight: bold;
        font-size: 3.5vb;
        margin-bottom: 0; 
    }

    .stat-label {
        font-size: 14px;
        color: #777; 
        margin-top: 0; 
    }

    .my-profile-container{
        margin-left:5px;
        margin-right:5px;
        
    }

    .profile-information {
        display: flex;
    }

    .profile-name-container {
        font-size: 2vb;
        margin-left: 20px;
        width: 10vb;
        text-align: center;
    }

    .profile-name {
        font-size: 3vb;
        font-weight: bold;
        padding-bottom: 4px;
    }
    
}