@import "@/styles/colors.css";
@import "@/styles/animations.css";

@media only screen and (min-width: 769px) {
    .navbar {
        position: fixed;
        left: 0;
        top: 0;
        background-color: var(--background2-color);
        width: 220px;
        height: 100vh;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 10%;
        padding-left: 20px;
        padding-top: 90px;
    }

    .navbar__go-to-my-feed-page-button {
        background: none;
        border: none;
        background-color: var(--primary-darker-color);
        padding: 10px;
        width: 180px;
        border-radius: 10px;
    }

    .navbar__go-to-create-post-page-button {
        background: none;
        border: none;
        background-color: var(--primary-darker-color);
        padding: 10px;
        width: 180px;
        border-radius: 10px;
    }

    .navbar__go-to-my-profile-page-button {
        background: none;
        border: none;
        background-color: var(--primary-darker-color);
        padding: 10px;
        width: 180px;
        border-radius: 10px;
    }

    .navbar__icon {
        font-size: 22px;
        color: var(--white-friendly-color);
        filter: drop-shadow(4px 4px 2px var(--shadow-color))
    }

    .navbar__text {
        color: var(--white-friendly-color);
        font-weight: bold;
        text-shadow: 2px 2px 2px var(--shadow-color);
    }
}