@media (min-width: 769px) {
    /* Estilos para el contenedor de imágenes de los posts */
    .posts-container__images {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        padding: 16px;
        justify-content: center;
    }

    .posts-container__image-link {
        display: block;
        border-radius: 8px;
        overflow: hidden;
        flex: 1 1 calc(33.33% - 16px); 
        box-sizing: border-box;
    }

    .posts-container__post-image {
        width: 100%;
        height: auto;
        max-height: 150px;
        object-fit: cover;
        transition: transform 0.3s;
    }

    .posts-container__post-image:hover {
        transform: scale(1.05);
    }

    .posts-container__no-posts {
        text-align: center; 
        width: 100%; 
        margin-top: 16px; 
    }

    /* Estilo para el componente de información del otro perfil */

    .other-user-info-card {
        display: flex;
        align-items: center;
        margin: 10px;
        flex-wrap: wrap;
    }

    .other-user-info__profile-img {
        width: 120px; 
        height: 120px; 
        margin-right: 20px;
    }

    .other-user-info__text {
        display: flex;
        flex-direction: column;
    }

    .other-user-info__username {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 5px; 
    }

    .other-user-info__email {
        font-size: 24px;
        font-style: italic;
    }

    .other-user-profile-content{
        margin-left: 220px;
    }
}