@import "@/styles/colors.css";
@import "@/styles/animations.css";

@media only screen and (min-width: 425px) and (max-width: 769px) {
    html {
        font-family: Segoe, Segoe UI, Optima, Arial, sans-serif;
    
        background-color: var(--background1-color);
    }

    .register-page {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        width: 100vw;
        height: 100vh;
    }

    .register-page__title {
        font-size: 32px;
        text-shadow: 2px 2px 4px var(--shadow-color);
        text-align: center;

        padding: 5px;

        color: var(--primary-color);
    }

    .register-page__icon {
        filter: drop-shadow(2px 2px 4px var(--shadow-color))
    }

    .register-form {
        width: 70%;
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        row-gap: 25px;

        background-color: var(--background1-lighter-color);

        padding: 10px;

        border-radius: 10px;

        font-size: 16px;
    }

    .register-form__input-container {
        width: 100%;

        display: flex;
        flex-direction: column;

        row-gap: 10px;

        font-weight: bold;

        color: var(--text1-color);
    }

    .register-form__input {
        position: relative;
        height: 35px;

        border-radius: 10px;
        padding-left: 30px;

        background-color: var(--white-friendly-color);
        color: var(--text1-color);
    }

    .register-form__input-icon {
        position: absolute;
        padding: 40px 0 0 10px;
        z-index: 100;
    }

    .register-form__ok-button {
        width: 150px;
        height: 35px;

        border-radius: 10px;

        font-weight: bold;

        background-color: var(--primary-color);
        color: var(--text1-color);
    }

    .register-form__ok-button:hover {
        background-color: var(--primary-darker-color);
        color: var(--white-friendly-darker-color);
    }

    .register-form__cancel-register-button {
        width: 150px;
        height: 35px;

        border-radius: 10px;

        font-weight: bold;

        background-color: var(--secondary-color);
        color: var(--white-friendly-color);

        margin-top: 10px;
    }

    .register-form__cancel-register-button:hover {
        background-color: var(--secondary-darker-color);
        color: var(--white-friendly-darker-color);
    }

    .unsuccessful-register-modal {
        animation: popup 0.7s;

        position: fixed;
        z-index: 200;

        background: rgba(0, 0, 0, 0.5);

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: 100vw;
        height: 100vh;

        font-weight: bold;
    }

    .unsuccessful-register-modal__message {
        position: absolute;

        font-size: 32px;
        text-align: center;

        background-color: var(--background2-color);
        color: var(--white-friendly-color);

        width: 90vw;
        height: 90vh;

        padding: 30% 20px 0 20px;
        border-radius: 10px;
    }

    .unsuccessful-register-modal__icon {
        font-size: 500%;

        position: absolute;

        bottom: 30%;

        color: var(--error-color);
    }

    .unsuccessful-register-modal__close-modal-button {
        position: relative;

        width: 150px;
        height: 35px;

        top: 40%;

        border-radius: 10px;

        background-color: var(--error-color);
        color: var(--white-friendly-color);

        font-weight: bold;
    }

    .unsuccessful-register-modal__close-modal-button:hover {
        background-color: var(--error-darker-color);
        color: var(--white-friendly-darker-color);
    }

    .successful-register-modal {
        animation: popup 0.7s;

        position: fixed;
        z-index: 200;

        background: rgba(0, 0, 0, 0.5);

        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

        width: 100vw;
        height: 100vh;

        font-weight: bold;
    }

    .successful-register-modal__message {
        position: absolute;

        font-size: 32px;
        text-align: center;

        background-color: var(--background2-color);
        color: var(--white-friendly-color);

        width: 90vw;
        height: 90vh;

        padding: 30% 20px 0 20px;
        border-radius: 10px;
    }

    .successful-register-modal__icon {
        font-size: 500%;

        position: absolute;

        bottom: 30%;

        color: var(--success-color);
    }

    .successful-register-modal__close-modal-button {
        position: relative;

        width: 150px;
        height: 35px;

        top: 40%;

        border-radius: 10px;

        background-color: var(--success-color);
        color: var(--text1-color);

        font-weight: bold;
    }

    .successful-register-modal__close-modal-button:hover {
        background-color: var(--success-darker-color);
        color: var(--white-friendly-darker-color);
    }
}